@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  /* font-family: "Montserrat", sans-serif; */
  /* font-family: "Lato", sans-serif; */
  /* font-family: "Poppins", sans-serif; */
  /* font-family: "Rubik", sans-serif; */
  /* font-family: "Helvetica", sans-serif; */
  /* font-family: "Inter", sans-serif; */
  font-family: "Nunito", sans-serif;
  /* font-family: "Nunito sans", sans-serif; */
  /* font-family: "Open sans", sans-serif; */
  /* font-family: "Roboto", sans-serif; */
  user-select: none;
}

/* width */
::-webkit-scrollbar {
 width: 8px !important;
}

/* Track */
::-webkit-scrollbar-track {
@apply bg-[#ebffff] !important;
border-radius: 5px !important;
}

/* Handle */
::-webkit-scrollbar-thumb {
@apply bg-primary;
 border-radius: 5px !important;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
@apply bg-[#199696] cursor-pointer;
}